/*
  Контент занимает 70% ширины страницы.
  Контент выровнен по середине.
  Заголовки всех уровней выполнены шрифтом без засечек.
  Верхний отступ заголовков установлен больше нижнего (например, 1.5em),чтобы соблюсти правило внутреннего и внешнего.
  Заголовки первого уровня имеют размер 32px.
  Таблицы имеют непрерывные границы чёрного цвета толщиной 1px.
  Подписи под картинками выполены курсивом. Картинки обтекаются текстом.
  Картинки справа, текст слева.
*/
body {
  width: 70%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Arial", sans-serif;
  margin: 1.5em auto auto;
}

h1 {
  font-size: 32px;
}

table, th, td{
  border: 1px solid black;
}

figcaption {
  font-style: italic;
}

.imgs {
  float: right;
}