html.fsite{
  background-color:paleGreen;
}
input#firstname, #lastname {
  background-color:yellow;
}
/*комментарий*/
.tx {
  color:red;
}

h3.bl {
  color:blue;
}

#btn1 {
  margin:200px 150px 20000px 150px;
}

.imgl {
  text-decoration: none;
}

#firstlink, #secondlink {
  position:relative;
  margin: 20px 20px 20px 20px
}